body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.container {
    width: 700px;
    margin: 0 auto;
    background: #EFEBDE;
    padding: 20px;
    border-radius: 5px;
}
h2 {
    float: left;
    width: 60%;
    font-weight: normal;
    font-size: 15px;
}
select {
    float: left;
    width: 40%;
    margin-bottom: 20px;
    height: 150px;
}
table {
    border-collapse: collapse;
    width: 100% ;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}
td {
    background: white;
}
th {
    font-weight: normal;
}